@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

body {
  background-color: #FFFDEE; 
}

footer {
  background-color: #000;
  color: #FFF;
  padding: 10px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-img {
  height: 50px;
  width: auto;
  margin-left: 100%;
}

.info-container {
  display: flex;
  align-items: center;
}

.website {
  margin-right: 100vh;
  font-family: 'League Spartan', sans-serif;
  text-decoration: underline;
}

.email {
  margin-left: -10vh;
  font-family: 'League Spartan', sans-serif;
  text-decoration: underline;
}

.website a {
  color: #FFF;
  text-decoration: none;
}

.follow-us {
  font-family: 'League Spartan', sans-serif;
  display: flex;
  align-items: center;
  margin-right: 70px;
}

.social-media-img {
  height: 30px;
  width: auto;
  margin-right: 5px;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.social-media-img:hover {
  transform: scale(1.2);
}

.follow-us a {
  display: inline-block;
  margin-right: 5px;
}
